In [1]:
import os
import pandas as pd

train_size = 0.8
curDir = os.getcwd()
dataDir = os.path.join(curDir, "screened_data/")
prefix = "air_jordan_"
version = range(1, 24)
df = pd.DataFrame(columns= ['Image_File', 'Label'])

In [2]:
index = 0
for i in version:
    path = os.path.join(dataDir, prefix+str(i))
    for r, d, f in os.walk(path):
        for file in f:
#             print(os.path.join(r, file))
            df = df.append({'Image_File': os.path.join(r, file), 'Label':i-1}, ignore_index=True)

df.to_csv('dataset_df.csv')

In [3]:
df.head()

                                          Image_File Label
0  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
1  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
2  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
3  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
4  /home/nan/sneaker_ai/screened_data/air_jordan_...     0

In [4]:
import numpy as np
msk = np.random.rand(len(df)) < 0.8
train_df = df[msk]
test_df = df[~msk]
print(len(df))
print(len(train_df))
print(len(test_df))

7057
5624
1433

In [5]:
train_df.to_csv('train_df.csv')
test_df.to_csv('test_df.csv')

In [6]:
test_df.head()

                                           Image_File Label
1   /home/nan/sneaker_ai/screened_data/air_jordan_...     0
8   /home/nan/sneaker_ai/screened_data/air_jordan_...     0
11  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
20  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
24  /home/nan/sneaker_ai/screened_data/air_jordan_...     0

In [7]:
temp = pd.read_csv("test_df.csv")
temp.head()

   Unnamed: 0                                         Image_File  Label
0           1  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
1           8  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
2          11  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
3          20  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
4          24  /home/nan/sneaker_ai/screened_data/air_jordan_...      0