In [34]:
import os
import pandas as pd

train_size = 0.8
curDir = os.getcwd()
dataDir = os.path.join(curDir, "screened_data/")
prefix = "air_jordan_"
version = range(1, 11)
df = pd.DataFrame(columns= ['Image_File', 'Label'])

In [35]:
index = 0
for i in version:
    path = os.path.join(dataDir, prefix+str(i))
    for r, d, f in os.walk(path):
        for file in f:
#             print(os.path.join(r, file))
            df = df.append({'Image_File': os.path.join(r, file), 'Label':i-1}, ignore_index=True)

df.to_csv('dataset_df.csv')

In [36]:
df.head()

                                          Image_File Label
0  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
1  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
2  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
3  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
4  /home/nan/sneaker_ai/screened_data/air_jordan_...     0

In [37]:
import numpy as np
msk = np.random.rand(len(df)) < 0.8
train_df = df[msk]
test_df = df[~msk]
print(len(df))
print(len(train_df))
print(len(test_df))

3250
2564
686

In [38]:
train_df.to_csv('train_df.csv')
test_df.to_csv('test_df.csv')

In [39]:
test_df.head()

                                           Image_File Label
3   /home/nan/sneaker_ai/screened_data/air_jordan_...     0
17  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
26  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
30  /home/nan/sneaker_ai/screened_data/air_jordan_...     0
36  /home/nan/sneaker_ai/screened_data/air_jordan_...     0

In [40]:
test_df.iloc[0,0]

'/home/nan/sneaker_ai/screened_data/air_jordan_1/air_jordan_1_130.jpg'

In [41]:
temp = pd.read_csv("test_df.csv")
temp.head()

   Unnamed: 0                                         Image_File  Label
0           3  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
1          17  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
2          26  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
3          30  /home/nan/sneaker_ai/screened_data/air_jordan_...      0
4          36  /home/nan/sneaker_ai/screened_data/air_jordan_...      0

In [42]:
temp.iloc[0,2]

0